@font-face {
  font-family: $bold;
  src: url("../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: $reg;
  src: url("../fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: $medium;
  src: url("../fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: $light;
  src: url("../fonts/Raleway-Light.woff") format("woff");
}
