$white: #F1F1F1;
$gray: #CDCDCD;
$gray2: #767676;
$black: #1B1B1B;


$reg: 'Raleway-Regular';
$bold: 'Raleway-Bold';
$medium: 'Raleway-Medium';
$light: 'Raleway-Light';


$cos_bp: 1330px;
$xl-bp: 1024px;

$lg-bp: 920px;
$sm-bp: 500px;
$mb-bp: 850px;
$sr-bp: 700px;

$mm-bp: 1440px;

// help bp
$rm-bp: 1792px;
$pm-bp: 1545px;
$hb-bp: 1310px;
$bm-bp: 1300px;
$jb-bp: 850px;
$lb-bp: 650px;


$border: 6rem;
$border-average: 4rem;
$border-min: 2rem;
$border-last: 0;

$mainborder: 43%


