@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

:root {
  --lighttheme: #F1F1F1;
  --darktheme: #1B1B1B;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  font-family: $reg;
  color: var(--darktheme);
  font-style: normal;
  background-color: var(--lighttheme);
  transition: background-color 0.4s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  ::-webkit-scrollbar {
    width: 0;
  }
  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1330 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($jb-bp) {
    font-size: calc(100vw / 850 * 10);
  }


  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 500 * 10);
  }

  
}
.button-wrapper {
  transition: transform .3s ease-in-out;
}
button:hover .button-wrapper {
  transform: translateX(1rem);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {

}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Vendors */



/* Blocks */
@import './blocks/contacts.scss';
@import './blocks/calc.scss';
@import './blocks/projects.scss';
@import './blocks/menu.scss';
@import './blocks/swiper.scss';
@import './blocks/main.scss';
@import './blocks/header.scss';
@import './blocks/aboutUs.scss';
@import './blocks/stages.scss';




.hide {
  display: none;
}

.show {
  display: block;
}

.page-wrapper {
  padding-left: $border;
  padding-right: $border;

  @include breakpoint($cos-bp) {
    padding-left: $border-average;
    padding-right: $border-average;
  }
  
  @include breakpoint($sm-bp) {
    padding-left: $border-min!important;
    padding-right: $border-min!important;
  }
}