.calc {
  padding-top: 10rem;
  padding-bottom: 18.3rem;
  min-height: 100vh;
  @include breakpoint($sm-bp) {
    padding-bottom: 5rem;
    padding-top: 0;
    min-height: min-content;
  }
  
  div.calc__wrapper {
    h3.calc__title {
      padding-bottom: 7rem;
      @include breakpoint($sm-bp) {
        padding-bottom: 3rem;
      }
    }

    form.calc__form {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: space-between;
      column-gap: 8.6rem;
      row-gap: 4rem;
      @include breakpoint($cos-bp) {
        grid-template-columns: 1fr;
      }
      @include breakpoint($sm-bp) {
        row-gap: 4rem;
      }
      .accordion__item--active {
        padding-bottom: 2rem;
      }
      .calc__container {
        display: flex;
        flex-direction: column;
        @include breakpoint($sm-bp) {
        }
        .calc__acc-wrapper {
          margin-bottom: 3rem;
          display: flex;
          flex-direction: column;
          row-gap: 2rem;
        }
        div.calc__form-item {
          display: flex;
          flex-direction: column;
          padding: 0.1rem;
          width: 40rem;
          @include breakpoint($sm-bp) {
            width: 100%;
          }
          .calc__form-title {
            padding-bottom: 0.5rem;
          }
          .calc__checkbox {
            cursor: pointer;
          }
          .calc__range-input {
            margin-bottom: 3rem;
          }
        }
      }
      .calc__button {
        border: 0;
        text-align: start;
        padding-left: 0;
        display: flex;
        gap: 0.7rem;
        .calc__button-arrow {
          transform: rotate(-45deg);
        }
        
      }
      .calc__modal-container {
        width: 51rem;
        height: min-content;
        padding: 5rem;
        overflow: scroll;
        height: min-content;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        color: $black;
        z-index: 99;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        @include breakpoint($sm-bp) {
          width: 92%;
          padding: 5rem 2rem 3rem;
        }
        .reg18 {
          padding-top: 1rem;
          padding-bottom: 5rem;
        }
        input {
          border-bottom: 1px solid $black;
        }
        button {
          color: $black;
          svg {
            stroke: $black;
          }
        }
      }
    }
  }
}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
  display: flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $gray;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  @include breakpoint($cos-bp) {
    width: 1.5rem;
    height: 1.5rem;
  }
  @include breakpoint($cos-bp) {
    width: 2rem;
    height: 2rem;
  }
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(239, 241, 242, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: $gray2;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
  border-color: var(--darktheme);
  background-color: var(--darktheme);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-position: center;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}


  .bold18 {
    font-family: $bold;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 130%;
    /* or 23px */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Черный */
    
    color: var(--darktheme);
    @include breakpoint($cos-bp) {
      font-size: 1.4rem;
    }
    @include breakpoint($xl-bp) {
      font-size: 2.2rem;
    }
  }

  .med36 {
    font-family: $medium;
    font-style: normal;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 130%;
    /* identical to box height, or 47px */
    
    
    /* Черный */
    
    color: var(--darktheme);
    @include breakpoint($cos-bp) {
      font-size: 2rem;
    }
    @include breakpoint($xl-bp) {
      font-size: 3rem;
    }
    @include breakpoint($sm-bp) {
      font-size: 3rem;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .custom-input {
    font-family: $medium;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
    /* identical to box height, or 18px */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* серый2 */
    outline:none;
    padding-bottom: 1rem;
    color: var(--darktheme);
    background-color: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--darktheme);
    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
    }
    &::-webkit-input-placeholder {
      font-weight: 300;
      font-family: $light;
      color: $gray2;
    }
    &::-moz-placeholder {
      font-weight: 300;
      font-family: $light; /* Firefox 19+ */
      color: $gray2;
    }
    &:-ms-input-placeholder {
      font-weight: 300;
      font-family: $light;
      color: $gray2;
    }
    &:-moz-placeholder {
      font-weight: 300;
      font-family: $light; /* Firefox 18- */
      color: $gray2;
    }
    &:focus {
      color: black;
    }
  }

  .select__input
{
  display: none;
}

#text
{
  position: absolute;
  display: block;
  top: 0;
}

.select
{
  display: inline-block;
  width: 100%;
  height: 2.8rem;
  line-height: 3rem;
  position: relative;
}

.select:before
{
  content: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.5 5L8 1' stroke='%23767676'/%3E%3C/svg%3E%0A");
  display: inline-block;
  background: transparent;
  position: absolute;
  right: 0.7rem;
  top: -0.6rem;
  z-index: 2;
  text-align: center;
  // line-height: 26px;
  border: 0;
  cursor: pointer;
  height: 1rem;
}

.select input[name="list"]:not(:checked) ~ #text
{
  padding-bottom: 1rem;
  color: var(--darktheme);
  font-family: $light;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 125%;
  /* identical to box height, or 18px */
  
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* серый2 */
  
  color: $gray2;
  background: var(--lighttheme);
  width: 100%;
}

.select input[name="list"]:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text
{
  background: var(--lighttheme);
}

.items
{
  display: block;
  min-height: 3rem;
  position: absolute;
  border: 0;
  border-bottom: 0.1rem solid var(--darktheme);
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

#select:not(:checked) ~ .items
{
  // height: 30px;
}

.items label
{
  // border-top: 0.1rem solid var(--darktheme);
  display: none;
  background: var(--lighttheme);
  padding-bottom: 1rem;
  padding-left: 0;
  font-family: $medium;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 125%;
  /* identical to box height, or 18px */
  
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* Черный */
  
  color: var(--darktheme);
}

.items label:hover
{
  background: #eee;
  cursor: pointer;
}

#select:checked ~ .items
{
  padding-top: 2.8rem;
}

#select:checked ~ .items label
{
  display: block;
}

.items input:checked + label
{
  display: block!important;
  border: none;
  background: var(--lighttheme);
}

#select:checked ~ .bg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: rgba(0,0,0,0);
}




.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}


.select-selected {
  transition: background-color .4s ease-in-out;
  background-color: var(--lighttheme);
  font-family: $medium;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 125%;
  /* identical to box height, or 18px */
  
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* Черный */
  
  color: var(--darktheme);
  padding-top: 0;
  @include breakpoint($sm-bp) {
    font-size: 1.8rem;
  }
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.5 5L8 1' stroke='%23767676'/%3E%3C/svg%3E%0A");
  top: 0;
  right: 1rem;
  width: 1rem;
  height: 100%;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: translateY(-25%) rotate(180deg);
}

/* style the items (options), including the selected item: */
.select-items,.select-selected {
  font-family: $medium;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 125%;
  /* identical to box height, or 18px */
  
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* Черный */
  
  color: var(--darktheme);
  padding-left: 0;
  padding-bottom: 1rem;
  border: 0.1rem solid transparent;
  border-color: transparent transparent var(--darktheme) transparent;
  cursor: pointer;
  @include breakpoint($sm-bp) {
    font-size: 1.8rem;
  }
}
.select-items div {
  padding: 1rem;
  padding-left: 0;
}
.select-items {
  padding-bottom: 0;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--lighttheme);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-selected--light {
  font-family: $light;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 125%;
  /* identical to box height, or 18px */
  
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* серый2 */
  
  color: $gray2;
  @include breakpoint($sm-bp) {
    font-size: 1.8rem;
  }
}



input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 0.1rem;
  background: var(--darktheme);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--darktheme);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
}
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.range-input {
  position: relative;
  .range-input__input {
    &::before, 
    &::after {
      position: absolute;
      top: 1.7rem;

      /* Raleway/Medium/14 */

      font-family: $medium;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 125%;
      /* identical to box height, or 18px */

      font-feature-settings: 'pnum' on, 'lnum' on;

      /* серый2 */

      color: $gray2;
    }
    &::before {
      content: '1';
      left: 0;
    }
    &::after {
      content: '1000';
      right: 0;
    }
  }
  .range-input__output {
    position: absolute;
    top: 1.7rem;
    right: 50%;
    transform: translateX(50%);

    /* Raleway/Medium/14 */

    font-family: $medium;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
    /* identical to box height, or 18px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Черный */

    color: var(--darktheme);
  }
}

button {
  transition: color .3s;
  &:active {
    color: $gray2;
  }
}

.accordion {

}
.accordion__item {
  transition: padding .3s ease;
}



.accordion__wrapper {
  transition: max-height .3s ease;
  max-height: 0;
  overflow: hidden;
}


