.main {
  display: grid;
  grid-template-columns: 43% 1px 1fr;
  grid-template-rows: min-content 1fr;
  grid-auto-flow: column;
  overflow: hidden;
  height: 100vh;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .main__first-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .home {
      margin-top: 16.5rem;

      @include breakpoint($cos-bp) {
        margin-top: 9.5rem;
      }

      @include breakpoint($xl-bp) {
        margin-top: 6.5rem;
      }
  
      .home__text-wrapper {
        width: 71.6rem;
        .home__text-wrapper--about-us {
          width: 66.6rem;
          @include breakpoint($sm-bp) {
            padding-top: 7rem;
          }
        }
        @include breakpoint($cos-bp) {
          width: 46rem;
        }
        .home__title {
          @include breakpoint($sm-bp) {
            padding-bottom: 1rem;
          }
        }
        .home__text-wrapper--about-us {
          padding-bottom: 1rem;
        }
        .home__desc {
          p {
            padding-bottom: 1rem;
            @include breakpoint($xl-bp) {
              padding-bottom: 0.5rem;
            }
          }
        }
      }
  }
  .order {
      margin-top: 1rem;
      display: flex;
      margin-bottom: 6rem;
      @include breakpoint($xl-bp) {
        margin-top: 4rem;
        margin-bottom: 3rem;
      }
      .order__button {
        border: 0;
        width: 14.5rem;
        height: 14.5rem;
        border-radius: 50%;
        background-color: var(--darktheme);
        transition: all 1s ease;
        animation: pulse 1s infinite alternate ;

        @include breakpoint($cos-bp) {
          width: 10.5rem;
          height: 10.5rem;
        }
        &:hover {
          animation-play-state: paused;
        }
      }

      @keyframes pulse {
        from {
          transform: scale(0.999);
        } to {
          transform: scale(1.2);
        }
      }
  
      .order__icon {
        padding-left: 1rem;
        align-self: flex-end;
        @include breakpoint($sm-bp) {
          width: 4.7rem;
          padding-left: 2rem;
        }
      }
  }
  }


.main__second-block {
  grid-row: 1 / 3;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  @include breakpoint($xl-bp) {
    grid-row: none;
  }
  div.gallery {
    height: 100%;
    div.page-wrapper.gallery__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 42% 1fr;
      gap: 1rem;
      padding-right: 0;
      height: 100%;
      @include breakpoint($cos-bp) {
        padding-right: 0 !important;
      }
      @include breakpoint($xl-bp) {
        padding-right: $border-average!important;
      }
      @include breakpoint($sm-bp) {
        padding-right: $border-last!important;
        padding-left: $border-last!important;
      }
      div.gallery__img-container {
        position: relative;
        cursor: pointer;
        img {
          position: absolute;
          backface-visibility: hidden;
          transition: transform 0.7s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

    .gallery__img-container img:nth-child(2) {
        transform: rotateY(180deg)
    }

      .gallery__img-container--max {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
      }
    }
  }
}
}

.arrow {
  width: 2.7rem;
  height: 2.7rem;
  fill: transparent;
  stroke: var(--darktheme);
}

.stroke {
  height: 100%;
  width: 1px;
  background-color: $gray;
  grid-row: 1 / -1;
  @include breakpoint($xl-bp) {
    grid-row: none;
    height: 1px;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.bold140 {
  font-family: $bold;
  font-weight: 700;
  font-size: 14rem;
  line-height: 16.4rem;

  @include breakpoint($cos-bp) {
    font-size: 9rem;
    line-height: 10rem;
  }
}
.reg18 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  @include breakpoint($cos-bp) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 2.3rem;
    line-height: 2.7rem;
  }
}

.med14--white {
  color: var(--lighttheme);
  font-weight: 400;
}

