.main {
  display: grid;
  grid-template-columns: 43% 1px calc(57% - 1px);
  grid-template-rows: 100vh 1fr;
  grid-auto-flow: column;
  min-height: 100vh;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .main__first-block {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60rem;
    overflow: scroll;
    @include breakpoint($xl-bp) {
      position: relative;
      min-height: 50rem;
    }
    .home {
      position: relative;
      margin-top: 16.5rem;
      height: -webkit-fill-available;
      min-height: 25rem;
      @include breakpoint($cos-bp) {
        margin-top: 9.5rem;
      }

      @include breakpoint($xl-bp) {
        margin-top: 6.5rem;
      }
      .home__block {
        height: 29rem;
      }
      .home__text-wrapper {
        // position: absolute;
        top: 0;
        transform: translateX(-120%);
        transition: transform 0.4s ease-in-out;
        width: 71.6rem;
        @include breakpoint($cos-bp) {
          width: 46rem;
        }
        @include breakpoint($xl-bp) {
          padding-top: 6rem;
        }
        .home__title {
          @include breakpoint($sm-bp) {
            padding-bottom: 1rem;
          }
        }
        .home__text-wrapper--about-us {
          padding-bottom: 1rem;
        }
        .home__desc {
          p {
            padding-bottom: 1rem;
            @include breakpoint($xl-bp) {
              padding-bottom: 0.5rem;
            }
          }
        }
      }
      .home__text-wrapper--active {
        transform: translateX(0)!important;
      }
      .home__text-wrapper--about-us {
        width: 66.6rem;
        @include breakpoint($cos-bp) {
          width: 46rem;
        }
        @include breakpoint($sm-bp) {
          width: auto;
          padding-top: 7rem;
        }
      }
  }
  .order {
      margin-top: 1rem;
      display: flex;
      margin-bottom: 6rem;
      @include breakpoint($cos-bp) {
        margin-top: 1rem;
      }
      @include breakpoint($xl-bp) {
        margin-top: 4rem;
        margin-bottom: 3rem;
      }
      .order__button {
        border: 0;
        width: 14.5rem;
        height: 14.5rem;
        border-radius: 50%;
        background-color: var(--darktheme);
        transition: all 1s ease;
        animation: pulse 1s infinite alternate ;

        @include breakpoint($cos-bp) {
          width: 10.5rem;
          height: 10.5rem;
        }
        &:hover {
          animation-play-state: paused;
        }
      }
      .order__button .order__button-order {
        display: block;
      }
      .order__button .order__button-calc {
        display: none;
      }
      .order__button--active .order__button-order {
        display: none;
      }
      .order__button--active .order__button-calc {
        display: block;
      }

      @keyframes pulse {
        from {
          transform: scale(0.999);
        } to {
          transform: scale(1.2);
        }
      }
  
      .order__icon {
        padding-left: 1rem;
        align-self: flex-end;
        @include breakpoint($sm-bp) {
          width: 4.7rem;
          padding-left: 2rem;
        }
      }
  }
  }

.main-submit {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 99;
  .main-submit__container {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    max-width: 44.6rem;
    z-index: 100;
    .bold28 {
      padding-bottom: 2rem;
    }
    .reg18 {
      color: $black;
    }
  }
}
.main__second-block {
  grid-row: 1 / 3;
  @include breakpoint($xl-bp) {
    grid-row: none;
  }
  @include breakpoint($lb-bp) {
    margin-top: auto;
  }
  div.gallery {
    height: 100vh;
    @include breakpoint($lb-bp) {
      height: 60rem;
    }
    @include breakpoint($sm-bp) {
      height: 40rem;
    }
    div.page-wrapper.gallery__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 42% 1fr;
      gap: 1rem;
      padding-right: 0;
      height: 100%;
      @include breakpoint($cos-bp) {
        padding-right: 0 !important;
      }
      @include breakpoint($xl-bp) {
        padding-right: $border-average!important;
      }
      @include breakpoint($sm-bp) {
        padding-right: $border-last!important;
        padding-left: $border-last!important;
      }
      div.gallery__img-container {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .gallery__img-container--max {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
      }
    }
  }
}
}

.bold28 {
  font-family: $bold;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 120%;
  /* identical to box height, or 34px */
  
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  /* Черный */
  
  color: #1B1B1B;
  
}
.flip {
  position: relative;
  cursor: pointer;
  img {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.7s ease-in-out;
  }
}

.flip img:nth-child(2) {
  transform: rotateY(180deg)
}
.arrow {
  width: 2.7rem;
  height: 2.7rem;
  fill: transparent;
  stroke: var(--darktheme);
}

.stroke {
  height: 100%;
  width: 1px;
  background-color: $gray;
  grid-row: 1 / -1;
  @include breakpoint($xl-bp) {
    grid-row: none;
    height: 1px;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.bold140 {
  font-family: $bold;
  font-weight: 700;
  font-size: 14rem;
  line-height: 16.4rem;

  @include breakpoint($cos-bp) {
    font-size: 9rem;
    line-height: 10rem;
  }
}
.reg18 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  @include breakpoint($cos-bp) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 2.3rem;
    line-height: 2.7rem;
  }
}

.med14--white {
  color: var(--lighttheme);
  font-weight: 400;
  @include breakpoint($cos-bp) {
    font-size: 1rem!important;
  }
}

